<ion-view view-title="Excalibur Info">
  <ion-content class="padding">
    <div class="list">
    	<div class="item item-divider">
    		Info Section
    	</div>
    	
    	<div class="item">
    		<p>
    			Useful information for Xcal users
    		</p>
    	</div>
    </div>
    
    <div style="background-color: #CCCCCC;" class="padding">
    	<h3>TODO:</h3>
    	<ul>
    		<li>develop info section content, functionality</li>
    		<li>Scope Settings functionality (based on configuration)</li>
    		<li>Edit configuration functionality</li>
    		<li>Set a default configuration</li>
    		<li style="text-decoration: line-through">Remove configuration utility</li>
    		
    	</ul>
    </div>
  </ion-content>
</ion-view>